{% extends "base.html" %}
{% block title %} Welcome to My World!{% endblock %}

{% block featureBox %}

<p>Welcome to my <a href="http://ekive.blogspot.com/2012/06/my-journey-in-python-django-hello-world.html" target="_blank" >voyage of discovery in Python/Django</a></p>

@ekivemark


<p>Can we print the STATIC_URL SETTING: [ {{ STATIC_URL }} ]</p>
<table>
    <tr><td>Text1</td></tr>
    <tr><td>Text2</td></tr>
    <tr><td>Text3</td></tr>
    <tr><td>Text4</td></tr>
    <tr><td>Text5</td></tr>
    <tr><td>Text6</td></tr>
    <tr><td>Text7</td></tr>
    <tr><td>Text8</td></tr>
    <tr><td>Text9</td></tr>

</table>

{% endblock %}